/* Our CSS goes here */

.back
{
	visibility: hidden;
}

.card:hover .front
{
	visibility: hidden;
}

.card:hover .back
{
	visibility: visible;
}

.media:hover .front
{
	visibility: hidden;
}

.media:hover .back
{
	visibility: visible;
}

.backform
{
	display: none;
	width: 30%;
}

.frontform
{
	visibility: visible;
	width: 30%;
}

.media:hover .frontform
{
	display: none;
}

.media:hover .backform
{
	display: inline;
}

.h1
{
	font-style: italic;
}

.carousel-caption{
    color:#000;
    position:static;
}
.item{
    background-color:white;
    display:block;
}
/*COLOR NAV FOOTER*/
.orange{
	background-color: orangered;
}
/*NAVBAR*/
a.navbar-brand{
	color: #fff;
}

a.nav-link{
	color: #fff;
}


/*  FORM  */

h2 {
	text-transform: uppercase;
	font-weight:bold;
}
#contact-form {
	font-size: 20px;
	padding: 40px;
	border-radius: 10px;
}

/*---  FORM sentences  ------*/
.orange {
	color: orangered;
}

#contact-form input[type=submit] {
	margin: 40px auto 0px;
	display: block;
}
.comments {
	font-style: italic;
	font-size: 0.75em;
	color: #d82c2e;
}
#contact-form .thank-you {
	text-align: center;
	margin-top: 25px;
	font-weight: bold;
	font-size: 2em;
	color: #d82c2e;
}
.button1 {
	border: 1px solid #ddd;
	background: orangered;
	color: #fff;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 18px;
	border-radius: 5px;
	transition: all 0.3s ease-in 0s;
}
.button1:hover {
	background: #333;
	border-color: orangered;
}



/*FOOTER*/
footer.page-footer a{
	color: #fff;
}

footer.page-footer li {
	list-style: none;
}

.high{
	width: 50%;
}