/* Our CSS goes here */

.back
{
	visibility: hidden;
}

.card:hover .front
{
	visibility: hidden;
}

.card:hover .back
{
	visibility: visible;
}

.media:hover .front
{
	visibility: hidden;
}

.media:hover .back
{
	visibility: visible;
}

.backform
{
	display: none;
	width: 30%;
}

.frontform
{
	visibility: visible;
	width: 30%;
}

.media:hover .frontform
{
	display: none;
}

.media:hover .backform
{
	display: inline;
}

.h1
{
	font-style: italic;
}

.carousel-caption{
    color:#000;
    position:static;
}
.item{
    background-color:white;
    display:block;
}
/*COLOR NAV FOOTER*/
.orange{
	background-color: orangered;
}
/*NAVBAR*/
a.navbar-brand{
	color: #fff;
}

a.nav-link{
	color: #fff;
}


/*FOOTER*/
footer.page-footer a{
	color: #fff;
}

footer.page-footer li {
	list-style: none;
}

.high{
	width: 50%;
}